.board {
  width: 300px;
  height: 150px;
  background-color: #ecebe8;
  border-radius: 20px;
  padding: 20px; 
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: opacity .2s linear;
}

.board__title {
  font: 500 24px/26px 'Inter', sans-serif;
}

.board:hover {
  opacity: .6;
  cursor: pointer;
}