.section {
  width: calc(100vw - 80px);
  height: 80px;
  padding: 0 40px;
  background-color: #68237F;
  /* background-color: yellow; */
  display: flex;
  column-gap: 400px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.title {
  position: relative;
  left: 60px;
  color: #fff;
  font: 900 40px/44px 'Inter',sans-serif;
}

.logo {
  position: relative;
  display: flex;
  height: 80px;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transition: opacity .2s linear;
}

.logo:hover {
  opacity: .6;
  cursor: pointer;
}

.button {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  align-items: center;
  column-gap: 6px;
  height: 40px;
  background-color: #68237F;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: opacity .2s linear;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}

.button__image {
  position: relative;
  top: 10px;
}

.button__text {
  font: 400 16px/20px 'Inter', sans-serif;
}

